.border_line {
  border-left: 1px solid #3b4a51;
}
.bg_aside {
  box-shadow: 0px 0px 5px 3px #dadada;
}
.nav_sidebar_first_child_a_style {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #455a64;
  line-height: 30px;
}
.nav_sidebar_a_style {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #272727;
}
.LastNotes_a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: #475055;
  text-decoration: none;
}
.LastNotes_p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #a3abaf;
}
.input_style {
  border: 1px solid #dde2e4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;
  bottom: 18px;
  text-indent: 20px;
  height: 37px;
  width: 258px;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #475055;
}
.placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder_::-webkit-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder_::-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder_:-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder_:-ms-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(images/bg.png);
}
.clear {
  clear: both;
}
.wrapper {
  margin-left: 120px;
  padding-right: 120px;
  margin-top: 40px;
  width: 960px;
}
.header_menu {
  width: 100%;
  min-height: 43px;
  background-color: #455a64;
  margin-bottom: 20px;
}
.logo_home {
  float: left;
  padding: 11px 8px 10px 9px;
  background-color: #546e7a;
}
.nav_menu {
  padding: 15px 0px 15px 0px;
  float: left;
}
.nav_menu li {
  padding: 0px 0px 0px 47px;
  float: left;
}
.nav_menu li:first-child {
  padding-left: 33px;
}
.nav_menu a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
}
.nav_menu a:hover {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b2ebf2;
  font-size: 14px;
}
.login {
  float: right;
  padding: 11px 23px 13px 23px;
  border-left: 1px solid #3b4a51;
}
.social_network {
  float: right;
}
.social_network img[alt="Google+"] {
  margin: 14px 20px 12px 18px;
}
.social_network img[alt="Twitter"] {
  margin: 15px 0px 14px 21px;
}
.social_network img[alt="Facebook"] {
  padding: 13px 0px 12px 23px;
  border-left: 1px solid #3b4a51;
}
.prevy_post {
  background: url(images/mask.png), url(images/prevy_photo.png);
  min-height: 350px;
  padding-left: 55px;
  margin-bottom: 20px;
}
.prevy_post h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 46px;
  padding: 40px 0 39px 0;
}
.prevy_post p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 49px;
}
.prevy_post a {
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px 34px 18px 41px;
  margin-bottom: 81px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 18px;
}
.sidebar {
  float: left;
}
.sidebar .nav_sidebar {
  box-shadow: 1px 1px 12px 2px #d8d8d8;
  background-color: white;
  margin-bottom: 20px;
}
.sidebar .nav_sidebar ul {
  padding: 25px 180px 26px 33px;
}
.sidebar .nav_sidebar ul:hover {
  background-color: #455a64;
}
.sidebar .nav_sidebar ul:hover a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #feffff;
  font-size: 15px;
}
.sidebar .nav_sidebar ul:hover li:first-child a {
  color: #9ed1d9;
}
.sidebar .nav_sidebar li {
  margin-bottom: 15px;
}
.sidebar .nav_sidebar li:first-child a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #455a64;
  font-size: 16px;
  margin-bottom: 23px;
}
.sidebar .nav_sidebar li:last-child {
  margin-bottom: 0px;
}
.sidebar .nav_sidebar li a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #272727;
  font-size: 15px;
}
.LastNotes {
  background-color: white;
  box-shadow: 1px 1px 12px 2px #d8d8d8;
  margin-bottom: 20px;
}
.LastNotes h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 24px;
  border-bottom: 1px solid #dde2e4;
  margin-bottom: 20px;
  padding: 26px 76px 17px 21px;
}
.LastNotes img {
  float: left;
  margin: 0px 17px 18px 16px;
}
.LastNotes h3 {
  margin-bottom: 15px;
}
.LastNotes h3 a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 15px;
  line-height: 20px;
}
.LastNotes p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #a3abaf;
  font-size: 14px;
  padding-bottom: 20px;
}
.Question {
  background-color: white;
  box-shadow: 1px 1px 12px 2px #d8d8d8;
}
.Question h3 {
  padding: 30px 109px 23px 32px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 24px;
}
.Question input {
  border: 1px solid #dde2e4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;
  bottom: 18px;
  text-indent: 20px;
  height: 37px;
  width: 258px;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #475055;
}
.Question input::-webkit-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question input::-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question input:-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question input:-ms-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question input:focus {
  border-color: #4bc7c7;
}
.Question textarea {
  margin-left: 20px;
  border: 1px solid #dde2e4;
  text-indent: 20px;
  padding-top: 12px;
  width: 258px;
  max-height: 105px;
  margin-bottom: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 16px;
}
.Question textarea::-webkit-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea::-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea:-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea:-ms-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea::-webkit-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea::-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea:-moz-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea:-ms-input-placeholder {
  color: #a3abaf;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Question textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Question textarea:focus {
  border-color: #4bc7c7;
}
.Question button {
  margin-left: 20px;
  width: 112px;
  height: 40px;
  border-radius: 4px;
  background-color: #26c281;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  margin-bottom: 25px;
}
.content {
  float: right;
}
.content .posts {
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 12px 2px #d8d8d8;
}
.content .posts header {
  margin-bottom: 40px;
}
.content .posts article .icon {
  background: url(images/Base.png);
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0px 33px 23px 0px;
}
.content .posts article h3 {
  padding-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 24px;
}
.content .posts article p {
  margin: 0px 0px 54px 74px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #475055;
  font-size: 15px;
  line-height: 22px;
}
.content .posts article p a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #16a085;
  font-size: 15px;
}
.content footer .footer_div {
  float: left;
  margin-right: 33px;
  padding-bottom: 25px;
}
.content footer .footer_div:first-child {
  margin-left: 74px;
}
.content footer .footer_div img {
  float: left;
  margin-right: 12px;
}
.content footer .footer_div p {
  float: left;
}
.b_footer {
  background-color: #16a085;
  padding: 20px;
}
.b_footer .adres {
  float: left;
}
.b_footer .adres span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fbe371;
  font-size: 12px;
}
.b_footer .adres address {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 12px;
}
.b_footer .footer_menu {
  float: right;
}
.b_footer .footer_menu li {
  float: left;
  margin-left: 5px;
}
.b_footer .footer_menu li:last-child {
  margin-right: 20px;
}
.b_footer .footer_menu li a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 12px;
}
.b_footer .footer_menu li a:hover {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fbe371;
  font-size: 12px;
}
